* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-size: 16px;
    line-height: 28px;
    padding: 9px 24px 11px 24px;
    border-radius: 1.5rem;
    border: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .skilled__logo {
    background-image: url(../starter-code/assets/logo-dark.svg);
    width: 89px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* INTRO */

.intro h1 {
    font-size: 40px;
    line-height: 51 px;
}

.intro p {
    font-size: 1rem;
    line-height: 28px;
}  

/* HERO */


.hero__image {
    background-image: url("../starter-code/assets/image-hero-mobile@2x.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 301px;
    width: 327px;
}

/* TOPICS */

.topic__header h3 {
    font-size: 24px;
}

.icon {
    height: 56px;
    width: 56px;

}

.animation {
    background-image: url(../starter-code/assets/icon-animation.svg);
}

.design {
    background-image: url("../starter-code/assets/icon-design.svg");
}

.photography {
    background-image: url("../starter-code/assets/icon-photography.svg");
}

.crypto {
    background-image: url("../starter-code/assets/icon-crypto.svg");
}

.business {
    background-image: url("../starter-code/assets/icon-business.svg");
}

.topic__section h4 {
    font-size: 20px;
}

.topic__section p {
    font-size: 1rem;
}

.topic__section a {
    font-size: 18px;
}
